@{
    ViewData["Title"] = "HTC Home";
}

<div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="6000">
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner" role="listbox">
        <div class="item active">
            <img src="~/images/marquee1.jpg" alt="ASP.NET" class="img-responsive" />
            <div class="carousel-caption" role="option">
                <p>
                    What Is HTC Champions?(Error)
                    <a class="btn btn-default" href="https://www.htcchampions.com/">
                        Learn More
                    </a>
                </p>
            </div>
        </div>
        <div class="item">
            <img src="~/images/marquee2.jpg" alt="Visual Studio" class="img-responsive" />
            <div class="carousel-caption" role="option">
                <p>
                    What Is HTC Elevate?
                    <a class="btn btn-default" href="https://elevate.htc.com/">
                        Learn More
                    </a>
                </p>
            </div>
        </div>
        <div class="item">
            <img src="~/images/marquee3.jpg" alt="Package Management" class="img-responsive" />
            <div class="carousel-caption" role="option">
                <p>
                    What Is Team HTC?
                    <a class="btn btn-default" href="https://team.htc.com/">
                        Learn More
                    </a>
                </p>
            </div>
        </div>
    </div>
    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>What Is HTC Champions?</h2>
        <ul>
            <li>HTC Champions is a private, members-only community for Retail Sales Representatives in the US. If you're reading this, we could be talking about you! HTC values authenticity and personal connections with our partners – these are two of the driving forces behind HTC Champions.</li>
        </ul>
    </div>
    <div class="col-md-4">
        <h2>What Is HTC Elevate?</h2>
        <ul>
            <li>HTC Elevate is a private, members-only community for our top fans and supporters from around the world. If you're reading this, we could be talking about you! HTC values authenticity and personal connections with our customers – these are two of the driving forces behind this community</li>
        </ul>
    </div>
    <div class="col-md-4">
        <h2>What Is Team HTC?</h2>
        <ul>
            <li>Team HTC is an open community for US-based people that love HTC, want early access to Hot Deals on HTC.com/US/, and want a spot to talk about all things HTC.  If you’re reading this, we’re talking about you!  HTC values authenticity and personal connections with our users - they're two of the driving forces behind Team HTC.</li>
        </ul>
    </div>
</div>